html, body {
    font-family: Helvetica, sans-serif;
}

h1 {
    /*    color: gray;*/
}

h1, h2 {
    margin-bottom: 0px;
}

.introduction {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr {
    height: 0.5px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

/* unvisited link */
a:link {
    color: slategray;
    text-decoration: none
}

/* visited link */
a:visited {
    color: slategray;
    text-decoration: none;
}

/* mouse over link */
a:hover {
/*    color: hotpink;*/
}

/* selected link */
a:active {
/*    color: blue;*/
/*    text-decoration: underline;*/
}
