html, body {
  font-family: Helvetica, sans-serif;
}

.introduction {
  background-color: coral;
  display: flex;
  justify-content: center;
}

h2 {
  max-width: 65%;
  min-width: 500px;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}
