html, body {
  font-family: Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

#introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
}

h2 {
  max-width: 65%;
  min-width: 500px;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}
