html, body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.introduction {
  background-color: red;
  align-items: flex-start;
}

.contact {
  background-color: green;
  align-items: flex-start;
}
