html, body {
  font-family: Helvetica, sans-serif;
}

.introduction {
  background-color: #92a8d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
