html, body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  max-width: 65%;
  min-width: 500px;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}
