html, body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.introduction {
  align-items: flex-start;
}

.contact {
  align-items: flex-start;
}
